<div class="row">
  <div class="col-md-8">
    <%= simple_form_for(@counter, html: {class: 'well form-horizontal' }) do |f| %>

        <%= f.error_notification %>

        <legend>Member Form</legend>
        <%= f.input :date %>
        <%= f.input :warm %>
        <%= f.input :cold %>

        <%= f.button :submit, { class: 'btn-primary' } %>
    <% end %>
  </div>
</div>