<h1>Показания счетчиков</h1>

<%= link_to 'Новый месяц', new_counter_path, :class => "btn btn-primary" %>

<table class="counters-list table table-striped">
  <thead>
    <tr>
      <th><%= Counter.human_attribute_name("date") %></th>
      <th class="warm"><%= Counter.human_attribute_name("warm") %></th>
      <th class="cold"><%= Counter.human_attribute_name("cold") %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @counters.each do |counter| %>
      <!--tr class="<%= cycle('list_line_odd', 'list_line_even') %>" -->
      <tr class="overlay">
        <td class="date"><%= l counter.date.to_date, :format => :long %></td>

        <%
           dc = counter.diff_consumption

             wu = (dc[:warm]||0) > 0 ? '&uarr;'.html_safe : '&darr;'.html_safe
             cu = (dc[:warm]||0) > 0 ? '&darr;'.html_safe : '&uarr;'.html_safe
        %>

        <td class="warm"><%= counter.warm %> (<%= counter.warm_consumption %><%= wu %>)</td>
        <td class="cold"><%= counter.cold %> (<%= counter.cold_consumption %><%= cu %>)</td>

        <td class="b">
          <div class="btn-block">
            <%= link_to 'Квитанция', counter, :class => "btn btn-info btn-xs show-doc" %>
            <%= link_to 'Править', edit_counter_path(counter), :class => "btn btn-default btn-xs" %>
            <%= link_to 'Удалить', counter, method: :delete, data: { confirm: 'Вы уверены?' }, :class => "btn btn-default btn-xs" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- %= button_to "Новый месяц", new_counter_path, :class => "btn btn-primary", :method => :get %-->
