<h1>Показания счетчиков</h1>
<%
   chart_data = Counter.where('id > 2').order(:date).pluck(:date, :warm_consumption, :cold_consumption).map{|d,w,c| [d.advance(:months => -1).to_time(:utc).to_i*1000, w, c]}
%>
<script type="text/javascript">
    Highcharts.setOptions({
        lang: {
            shortMonths: ['янв', 'фев', 'мар', 'апр', 'май', 'июн',
                'июл', 'авг', 'сен', 'окт', 'ноя', 'дек']
        }
    });

    $(function () {
        $('#chart').highcharts({
            chart: {
                type: 'spline'
            },
            title: {
                text: 'Расход воды'
            },
            xAxis: {
                type: 'datetime',
                tickInterval: 24 * 3600 * 1000 *30 * 4,
                tickmarkPlacement: 'on',
                gridLineWidth: 1,
                gridLineDashStyle: 'dot',
                dateTimeLabelFormats: {
                    month: '%b %y',
                    year: '%Y'
                }
            },
            yAxis: {
                gridLineWidth: 0,
                title: {
                    text: 'Расход (м3)'
                },
                min: 0
            },
            tooltip: {
                formatter: function() {
                    return '<b>'+ this.series.name +'</b><br/>'+
                            Highcharts.dateFormat('%e %b %Y', this.x) +': '+ this.y +' m';
                }
            },

            series: [{
                name: 'горячая',
                color: 'red',
                data: <%= chart_data.map{|d,w,c| [d,w]} %>
            }, {
                name: 'холодная',
                color: 'blue',
                data: <%= chart_data.map{|d,w,c| [d,c]} %>
            }]
        });
    });
</script>
<div id="chart" style="width: 100%; height: 300px;"></div>

<%= link_to 'Новый месяц', new_counter_path, :class => "btn btn-primary" %>

<table class="counters-list table table-striped">
  <thead>
    <tr>
      <th><%= Counter.human_attribute_name("date") %></th>
      <th class="warm"><%= Counter.human_attribute_name("warm") %></th>
      <th class="cold"><%= Counter.human_attribute_name("cold") %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @counters.each do |counter| %>
      <!--tr class="<%= cycle('list_line_odd', 'list_line_even') %>" -->
      <tr class="overlay">
        <td class="date"><%= l counter.date.to_date, :format => :long %></td>

        <%
             wclass = counter.warm_consumption > counter.prev_warm_consumption ? 'more' : 'less'
             cclass = counter.cold_consumption > counter.prev_cold_consumption ? 'more' : 'less'
        %>

        <td class="warm"><%= counter.warm %> <span class="diff <%= wclass %>"><%= counter.warm_consumption %></span></td>
        <td class="cold"><%= counter.cold %> <span class="diff <%= cclass %>"><%= counter.cold_consumption %></span></td>

        <td class="b">
          <div class="btn-block">
            <%= link_to 'Квитанция', counter, :class => "btn btn-info btn-xs show-doc" %>
            <%= link_to 'Править', edit_counter_path(counter), :class => "btn btn-default btn-xs" %>
            <%= link_to 'Удалить', counter, method: :delete, data: { confirm: 'Вы уверены?' }, :class => "btn btn-default btn-xs" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- %= button_to "Новый месяц", new_counter_path, :class => "btn btn-primary", :method => :get %-->
