<!DOCTYPE html>
<html>
<head>
  <title>WaterCounter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>

<main role="main">
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="span12">
          <%= render partial: "layouts/flash_messages", flash: flash %>
          <%= yield %>
        </div>
      </div>
      <footer>
      </footer>
    </div>
  </div>
</main>

</body>
</html>
